body,html,div,into{ padding:0; margin:0;}
a {color:#FF3377}
a:hover{text-decoration:underline;}
.wrap{
 width: 100%;
font-family: TC_Regular;
 margin: 0 auto;
}
#aside1{
    width: 10%;
    text-align: center;
    padding:20px 10px;
    float: left;
    height: 100%;
    }
#Fixed
{
    font-family: TC_Regular;
    font-size: 12pt;
    line-height: 32px;
    background-color: rgba(255,255,255,0.9);
    text-align: center;
    padding:20px 10px;
    position: fixed;
    width: 10%;
    top:82px;
}
#aside2{
    width: 10%;
    text-align: center;
    padding:20px 10px;
    float: right;
    height: 100%;}
#into{
    margin: 0;padding: 0;
    background-color: rgba(255,221,238,0.75);
    width: 80%;
    padding: 20px;
    font-family: TC_Regular;
    font-size: 18pt;
    line-height: 32px;
    float: left;}
.into_title{
    margin: 0;padding: 0;
    color:#FF3377;
    font-family: TC_Blod;
    font-size: 32pt;
    line-height: 48px;
    float: left;
    width: 100%;}   
.img_ex{
    font-weight:bold;
    margin: 0;padding: 0;
    font-family: TC_Light;
    font-size: 15pt;
    line-height: 20px;
}
.title_year{
    font-family: TC_Blod;
    position: relative;
    text-align: center;
    overflow: hidden;
    font-size: 28px;
    color: #555;
}
.title_year::before,.title_year::after{
    content: '';
    display: inline-block;
    width: 100%;
    height: 5px;
    position: absolute;
    background: #FF3377;
    top: 40%;
}
.title_year::before{
    margin-left: -15px;
    transform: translateX(-100%);
}
.title_year::after{
    margin-left: 15px;
}
.iframe{
    width: 50%;
    text-align: center;
    padding:20px 10px;
    float: left;
    height: 100%;
    }   
.iframe_1{
    width: 50%;
    text-align: center;
    padding:20px 10px;
    float: left;
    height: 100%;}   
